body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input, .form-group select, .form-group textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.loading-spinner {
  text-align: center;
  margin-top: 10px;
}

#message {
  margin-top: 20px;
}

#message .success {
  color: #28a745;
}

#message .error {
  color: #dc3545;
}

.popup {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
}

.popup-content .social-icons {
  text-align: center;
}

.popup-content .social-icons a {
  margin: 0 10px;
  color: #333;
  font-size: 20px;
}

.popup-content .social-icons a:hover {
  color: #007bff;
}